    .edit-contact {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: -webkit-center;
    margin-bottom: 50px;

    }